@{ 
    Layout = null;
}

<footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
        <div class="container">
            <div class="mu-footer-top-area">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Informatii</h4>
                            <ul>
                                <li><a href="#">Despre noi</a></li>
                                <li><a href="">Particularitati</a></li>
                                <li><a href="">Cursuri</a></li>
                                <li><a href="">Evenimente</a></li>
                                <li><a href="">Sitemap</a></li>
                                <li><a href="">Conditii de utilizare</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Ajutor</h4>
                            <ul>
                                <li><a href="">Start</a></li>
                                <li><a href="#">Intrebarile mele</a></li>
                                <li><a href="">Descarcarea aplicatiilor</a></li>
                                <li><a href="">Cele mai noi cursuri</a></li>
                                <li><a href="">Noutati academice</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Primeste noutati</h4>
                            <p>Primeste cele mai noi noutati, actualizari si oferte academice</p>
                            <form class="mu-subscribe-form">
                                <input type="email" placeholder="Scrie email-ul tau">
                                <button class="mu-subscribe-btn" type="submit">Incrie-te</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Contact</h4>
                            <address>
                                <p>Chisinau, str. Stefan cel Mare 123/1 of. 5</p>
                                <p>Telefon: +37360643465 </p>
                                <p>Site: www.IPlusPlus.com</p>
                                <p>Email: IPlusPlus@gmail.com</p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
        <div class="container">
            <div class="mu-footer-bottom-area">
                <p>&copy; Toate drepturile rezervate. Creat de <a href="http://www.markups.io/" rel="nofollow">MarkUps.io</a></p>
            </div>
        </div>
    </div>
    <!-- end footer bottom -->
</footer>