
@{
    Layout = null;
}

<section id="mu-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-testimonial-area">
                    <div id="mu-testimonial-slide" class="mu-testimonial-content">
                        <!-- start testimonial single item -->
                        @{
                            var testObj = Model.CommentObj;

                            foreach (var to in testObj)
                            {
                                <div class="mu-testimonial-item">
                                    <div class="mu-testimonial-quote">
                                        <blockquote>
                                            <p>@to.Comment_Content</p>
                                        </blockquote>
                                    </div>
                                    <div class="mu-testimonial-img">
                                        <img src="@to.Comment_Img" alt="img">
                                    </div>
                                    <div class="mu-testimonial-info">
                                        <h4>@to.Comment_Author</h4>
                                        <span>Elev fericit</span>
                                    </div>
                                </div>
                            }
                        }
                        <!-- end testimonial single item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>