
@{
    Layout = null;
}

<div class="mu-pagination">
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span class="fa fa-angle-left"></span> Prev
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li>
                <a href="#" aria-label="Next">
                    Next <span class="fa fa-angle-right"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
